<!-- Menu -->
<nav id="menu">
  <h2>Menu</h2>
  <ul>
    <li>
      <%= link_to 'Home' , '/index'%>
    </li>
    <li>
    <%= link_to 'Genericos' , '/generic'%>
    </li>
    <li>
    <%= link_to 'Elementos' , '/elements'%>
    </li>
  </ul>
</nav>
